{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block scripts %}
    <script src="{% static 'workouts/index.js' %}"></script>
{% endblock scripts %}

{% block title %}
    Home
{% endblock title %}

{% block content %}

    <div id="alert-box-0"></div>
    <div id="perm-alert-box"></div>

    <h2 style="color: #003882;text-align:center">
        {% if time_of_day == 0 %}
            Good morning, 
        {% elif time_of_day == 1 %}
            Good afternoon, 
        {% else %}
            Good evening, 
        {% endif %}
        {{name}}
    </h2>

    <!-- Button trigger modal -->
    <div class="d-grid gap-2 col-6 mx-auto">
        <button type="button" class="btn btn-primary"; data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: #003882;">
            Create Workout
        </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Workout</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="inputGroupSelect01">Name</label>
                            {{workout_form.name}}    
                        </div>

                        <div class="input-group mb-3">
                            <label class="input-group-text" for="inputGroupSelect01">Description</label>
                            {{workout_form.description}}    
                        </div>

                        <div class="input-group mb-3">
                            <label class="input-group-text" for="inputGroupSelect01">Date</label>
                            {{workout_form.date}}    
                        </div>

                        <div class="input-group mb-3">
                            <label class="input-group-text" for="inputGroupSelect01">Start Time</label>
                            {{workout_form.time_start}}    
                        </div>

                        <div class="input-group mb-3">
                            <label class="input-group-text" for="inputGroupSelect01">End Time</label>
                            {{workout_form.time_end}}    
                        </div>

                        <div class="input-group mb-3">
                            <label class="input-group-text" for="inputGroupSelect01">Location</label>
                            {{workout_form.location}}    
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" value = "1" name = "submit">Create Workout</button>
                </div>
                    </form>
            </div>
        </div>
    </div>

    <!-- Displaying Workouts -->
    <div class="mt-3">
        {% for workout in workouts %}
            <div class="card mt-3">
                <div class="card-header text-white bg-{% if workout.rsvp %}success{% else %}primary{% endif %}">
                    <h3>Workout Name: {{workout.name}}</h3>

                    <div class="d-flex">
                        Date: {{workout.workout_date}}
                    </div>
                </div>
                <div class="card-body">
                    Creator: {{workout.creator_first}} {{workout.creator_last}}
                    <br>
                    From {{workout.time_start}} to {{workout.time_end}}
                    <br>
                    Location: {{workout.location}}

                    <p class="card-text">{{workout.description}}</p>
                    <form action="" method="POST">
                        {% csrf_token %}
                        {% comment %} ; data-bs-toggle="modal" data-bs-target="#cancelModal" {% endcomment %}
                        {% if workout.rsvp %} 
                            <button class="btn btn-outline-danger" name="cancel-btn" value="1" {% if is_coach %}disabled{% endif %}>
                                Cancel RSVP
                                <input type="hidden" name="rsvp-input" value="{{workout.pk}}">
                            </button>
                        {% else %}
                            <button class="btn btn-outline-primary" name="rsvp-btn" value="1">
                                RSVP
                                <input type="hidden" name="rsvp-input" value="{{workout.pk}}">
                            </button>
                        {% endif %}

                        <a class="btn btn-outline-primary" href="{% url 'workouts:workout-detail' workout.pk %}">                    
                            Details
                        </a>
                    </form>

                </div>
            </div>
        {% endfor %}
    </div>

    <button class="invisible" name="cancel-btn" value="1"; data-bs-show="modal" data-bs-target="#cancelModal" {% if is_coach %}disabled{% endif %}>
    </button>


    <!-- Absence Modal-->
    <div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="cancelModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cancelModalLabel">Absence</h5>
                </div>
                <div class="modal-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="inputGroupSelect01">Reason</label>
                            {{absence_form.reason}}    
                        </div>

                        <div class="input-group mb-3">
                            <label class="input-group-text" for="inputGroupSelect01">Explanation</label>
                            {{absence_form.explanation}}    
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" value = "1" name="absence-btn">
                        Create Excuse
                        <input type="hidden" name="absence-workout-pk" value="{{dersvp}}">
                    </button>
                </div>
                    </form>
            </div>
        </div>
    </div>

    {% comment %} <!-- Form for redirect_bool change in view -->
    <form id="redirect-reset-form" action="" method="POST">
        <input type="hidden" name="redirect-reset" value="1">
    </form> {% endcomment %}

    <!-- Scripts -->
    <script type="text/javascript">

        if ({{trigger_modal}}) {
            var myModal = new bootstrap.Modal(document.getElementById('cancelModal'), {
            keyboard: false
            });
            myModal.show();
        }

        if ({{rsvp_conflict.bool}}) {
            handleAlertsRSVPConflict("0", 
                                    "{{rsvp_conflict.name}}", 
                                    "{{rsvp_conflict.time_start}}", 
                                    "{% url 'workouts:workout-detail' rsvp_conflict.pk %}"
                                    );
        }

        if ({{redirect_bool}}) {
            handleRedirectAlerts("\"Coach Info\" unavailible to athletes");
        }

    </script>

{% endblock content %}