{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block scripts %}
    <script src="{% static 'workouts/index.js' %}"></script>
{% endblock scripts %}



{% block title %}
    workout details
{% endblock title %}

{% block content %}

    <form action="" method="POST">
        {% csrf_token %}

        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Name</label>
            {{workout_form.name}}    
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Location</label>
            {{workout_form.location}}    
        </div>


        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Description</label>
            {{workout_form.description}}    
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Date</label>
            {{workout_form.date}}    
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Start Time</label>
            {{workout_form.time_start}}    
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">End Time</label>
            {{workout_form.time_end}}    
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Team</span>
            <input type="text" class="form-control" placeholder="{{workout_team}}" disabled>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Creator</span>
            <input type="text" class="form-control" placeholder="{{workout_creator}}" disabled>
        </div>

        <button class="btn btn-outline-primary mt-1" name="update" input="1" {% if not_creator %}disabled{% endif %}>Update workout</button>
        <button class="btn btn-outline-danger mt-1" name="delete" input="1" {% if not_creator %}disabled{% endif %}>Delete</button>

        {% if coach_bool %}
            <button class="btn btn-outline-danger mt-1" name="rsvp-btn" value="1">
                Cancel RSVP
            </button>
        {% elif already_rsvped %}
            <button class="btn btn-outline-danger mt-1" name="rsvp-btn" value="1">
                Cancel RSVP
            </button>
        {% else %}
            <button class="btn btn-outline-success mt-1" name="rsvp-btn" value="1">
                RSVP
            </button>
        {% endif %}

    </form>

    <!-- Scripts -->
    <script type="text/javascript">
        if ({{rsvp_conflict.bool}}) {
            handleAlertsRSVPConflict();
        }
    </script>

{% endblock content %}