{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block scripts %}
    <script src="{% static 'accounts/index.js' %}"></script>
{% endblock scripts %}

{% block title %}
    {{athlete_profile.first_name}}'s profile

{% endblock title %}

{% block content %}

    <h2 class="default-header alert alert-primary d-flex justify-content-center">{{user.first_name}}'s Profile</h2>

    <div class="text-center">
        <img src="{{athlete_profile.avatar.url}}" alt="my-profile" class="avatar-big">
    </div>

    <div id="alert-box-0"></div>
    <div id="alert-box-1"></div>

    <form action="" method="POST" enctype="multipart/form-data" class="profile-form">
        {% csrf_token %}
        {{athlete_profile_form|crispy}}
        Account Information:
        {{user_form|crispy}}
        <button type="submit" class="btn btn-primary mb-2 mt-2">Update</button>
    </form>
    
    <hr>

    <!-- Change Password Modal -->
    <button type="button" class="btn btn-primary btn-lg mt-3" data-bs-toggle="modal" data-bs-target="#createScheduleItem">
        Change Password
    </button>


    <div class="modal fade" id="createScheduleItem" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="POST" enctype="multipart/form-data" id="change-password-btn" class="profile-form">

                        {% csrf_token %}
                        {{password_form|crispy}}
                    
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary mb-2 mt-2">Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Url to Schedule -->
    <a href="{% url 'accounts:schedule' user_profile.pk %}" class="btn btn-primary mt-3 btn-lg">
        See Weekly Schedule
    </a>


<!-- Scripts -->
<script type="text/javascript">

    if ({{profile_changed}}) {
        handleAlerts("success", "Successfully edited profile", "0");
    }

    switch ({{password_key}}) {

        case 0:
            handleAlerts("success", "Successfully changed password", "1");
            break;
        
        case 1:
            handleAlerts("danger", "Old password is incorrect", "1");
            break;
        
        case 2:
            handleAlerts("danger", "Passwords don't match", "1");
            break;

        default:
    }

</script>

{% endblock content %}

