{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block scripts %}
    <script src="{% static 'accounts/index.js' %}"></script>
{% endblock scripts %}

{% block title %}
    schedule
{% endblock title %}



{% block content %}

    <h2>{{user_first_name}}'s Schedule</h2>

    <!-- Schedule -->
    <div id="schedule"></div>

    <div id="calendar"></div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#createScheduleItem" {% if not_owner %}disabled{% endif %}>
        Create Schedule Item
    </button>



    <!-- Modal -->
    <div class="modal fade" id="createScheduleItem" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Schedule Item</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="input-group mb-3">

                            <label class="input-group-text" for="inputGroupSelect01">Description</label>
                            {{schedule_item_form.name}}
            
                        </div>

                        <div class="input-group mb-3">

                            <label class="input-group-text" for="inputGroupSelect01">Start Time</label>
                            {{schedule_item_form.time_start}}

                        </div>

                        <div class="input-group mb-3">

                            <label class="input-group-text" for="inputGroupSelect01">End Time</label>
                            {{schedule_item_form.time_end}}

                        </div>

                        <div class="input-group mb-3">

                            <label class="input-group-text" for="inputGroupSelect01">Day of the Week</label>
                            {{schedule_item_form.day}}

                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" value="1" name="submit">Add schedule item</button>
                </div>
                    </form>
            </div>
        </div>
    </div>

    <div id="alert-box-0"></div>

    <!-- Scripts -->
    <script type="text/javascript">

        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'timeGridWeek',
                allDaySlot: false,
                nowIndicator: true,
                slotMinTime: "07:00:00",
                height:600,
                events: 
                    {{schedule_data|safe}},
                eventTimeFormat: { // like '14:30:00'
                    hour: '2-digit',
                    minute: '2-digit',
                    meridiem: true
                }
            });
            calendar.render();
        });
    
        switch ({{already_exists}}) {
            case (1):
                handleAlerts("danger", "Item already conflicts with this time", "0");
                break;

            case(2):
                handleAlerts("success", "Schedule item successfully created", "0");
                break;
            
            default:
        }
    </script>

{% endblock content %}


