{% extends 'base.html' %}
{% load static %}

{% block scripts %}
    <script src="{% static 'teams/index.js' %}"></script>
{% endblock scripts %}

{% block title %}
    Absences
{% endblock title %}

{% block content %}
    
    <h3 class="default-header alert alert-primary d-flex justify-content-center">Absences</h3>
    <hr>

    <!-- Today's Absences -->
    <h4 class="default-header">Absenses for Today</h4>
    {% for item in todays_absences %}
        <div class="card mt-3">
            <div class="card-header">
                <h5>{{item.first_name}} {{item.last_name}}</h5>
            </div>
            <div class="card-body">
                <a href="{% url 'workouts:workout-detail' item.workout_pk %}">
                    <div>
                        <strong>Workout:</strong> {{item.workout_name}}
                    </div>
                </a>
                <br>
                <strong>Workout Date:</strong> {{item.workout_date}}
                <br>
                <strong>Reason:</strong> {{item.reason}}
                <br>
                <strong>Explanation:</strong> {{item.explanation}}
            </div>
        </div>
    {% endfor %}

    <hr>
    <!-- Future Absences-->
    <h4 class="default-header">Future Absences</h4>
    {% for item in future_absences %}
        <div class="card mt-3">
            <div class="card-header">
                <h5>{{item.first_name}} {{item.last_name}}</h5>
            </div>
            <div class="card-body">
                <a href="{% url 'workouts:workout-detail' item.workout_pk %}">
                    <div>
                        <strong>Workout:</strong> {{item.workout_name}}
                    </div>
                </a>
                <br>
                <strong>Workout Date:</strong> {{item.workout_date}}
                <br>
                <strong>Reason:</strong> {{item.reason}}
                <br>
                <strong>Explanation:</strong> {{item.explanation}}
            </div>
        </div>
    {% endfor %}

    <hr>
    <!-- Past Absences-->
    <h4 class="default-header">Past Absences</h4>
    {% for item in past_absences %}
        <div class="card mt-3">
            <div class="card-header">
                <h5>{{item.first_name}} {{item.last_name}}</h5>
            </div>
            <div class="card-body">
                <a href="{% url 'workouts:workout-detail' item.workout_pk %}">
                    <div>
                        <strong>Workout:</strong> {{item.workout_name}}
                    </div>
                </a>
                <br>
                <strong>Workout Date:</strong> {{item.workout_date}}
                <br>
                <strong>Reason:</strong> {{item.reason}}
                <br>
                <strong>Explanation:</strong> {{item.explanation}}
            </div>
        </div>
    {% endfor %}
{% endblock content %}


