{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    {{team}} roster
{% endblock title %}

{% block content %}

    <h2 style="text-align:center"> {{team}} Roster</h2>
    <hr>

    <!-- List Coaches -->
    <div class="mt-4">
        <h4 class="alert alert-info" style="background-color: #003882;color:white">
            Coaches
        </h4>
        <h4 style="text-align:center"></h4>
        {% for coach in coaches %}
            <div class="mt-1">
                <strong>Name: </strong>{{coach.first_name}} {{coach.last_name}}
                <strong>Title: </strong>{{coach.formal_title}}
                <strong>Email: </strong>{{coach.email}}        

                <a href="{% url 'accounts:schedule' coach.pk %}" class="btn btn-primary">
                    Schedule
                </a>
                <br>
            </div>
        {% endfor %}

    </div>

    <hr>

    <div class="mt-4">
        <!-- List athletes -->
        <h4 class="alert alert-info" style="background-color: #003882;color:white">
            Athletes
        </h4>
        {% for athlete in athlete_roster %}
            
            {% if captain %}
                <strong>Captain</strong> | 
            {% endif %}
                <div class="mt-1">
                    <strong>Name:</strong> {{athlete.first_name}} {{athlete.last_name}} | 
                    <strong>Position:</strong> {{athlete.position}} | 
                    <strong>Email:</strong> {{athlete.email}}

                    <a href="{% url 'accounts:schedule' athlete.pk %}" class="btn btn-primary">
                        Schedule
                    </a>
                    <br>
                </div>
        {% endfor %}

    </div>

{% endblock content %}