#navbar-logo {
    height: 65px;
}
.nav-words {
    font-size: large;
}

.nav-title {
    font-size:x-large;
}

#login-logo {
    height: 100px;
}

#login-header {
    display: inline;
    color: #003882;
}

.default-header {
    color: #003882;
    font-weight: bold;
}