{% load static %}
{% url 'workouts:home' 0 as path_to_workouts %}
{% url 'accounts:schedule' request.user.pk as path_to_schedule %}
{% url 'teams:roster' as path_to_roster %}
{% url 'accounts:profile' as path_to_profile %}
{% url 'logout' as path_to_logout %}
{% url 'workouts:workout-all' as path_to_all_workouts %}
{% url 'teams:schedule-tool' as path_to_tool %}
{% url 'teams:schedule-tool-v2' as path_to_toolv2 %}
{% url 'teams:absences' as path_to_absences %}

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #003882;">
    <div class="container-fluid">
        <a class="navbar-brand nav-title" href="{{path_to_workouts}}">
            <img id="navbar-logo" src="{% static 'logos/MiddPanther_White.png' %}">
            MiddTeams
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <div class="nav-words">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if request.path == path_to_workouts or request.path == path_to_all_workouts %}active{% endif %}" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Workouts                        
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{{path_to_workouts}}">Upcoming Workouts</a></li>
                            <li><a class="dropdown-item" href="{{path_to_all_workouts}}">All Workouts</a></li>
                        </ul>
                    </li>
                </div>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == path_to_schedule %}active{% endif %}" href="{{path_to_schedule}}">
                        <div class="nav-words">
                            Schedule
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == path_to_roster %}active{% endif %}" href="{{path_to_roster}}">
                        <div class="nav-words">
                            Roster
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if request.path == path_to_tool or request.path == path_to_toolv2 %}active{% endif %}" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Schedule Tools                        
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{{path_to_tool}}">Schedule Tool v1</a></li>
                            <li><a class="dropdown-item" href="{{path_to_toolv2}}">Schedule Tool v2</a></li>
                        </ul>
                    </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == path_to_absences %}active{% endif %}" href="{{path_to_absences}}">
                        <div class="nav-words">
                            Coach Info
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == path_to_profile %}active{% endif %}" href="{{path_to_profile}}">
                        <div class="nav-words">
                            Profile
                        </div>
                    </a>
                </li>
            </ul>

            <div class="d-flex">
                <a href="{{path_to_logout}}" class="btn btn-outline-primary">Logout</a>
            </div>
        </div>
    </div>
</nav>